global
    daemon
    maxconn 50000
    lua-load /usr/local/etc/haproxy/log_json.lua
    log ring@agentring local0

ring agentring
    description "TCP Log Buffer"
    format raw
    maxlen 65535
    size 65536
    timeout connect 5s
    timeout server 30s
    # إضافة init-addr لتجنب أخطاء الـ DNS عند بدء التشغيل
    server python_log_server agent:514 init-addr libc,none



defaults
    mode http
    log global
    option httplog
    option dontlognull
    option http-buffer-request
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend https_front
    bind *:80
    bind *:443 ssl crt /etc/ssl/haproxy.pem
    http-request set-header X-Forwarded-Proto https if { ssl_fc }
    # تصحيح المسافة إلى نقطة
    http-request lua.log_to_json
    default_backend backend_servers

backend backend_servers
    server web1 web:80 check

